extends layout

my_options = {"this":"something", "that":"something else"}

block content
  h1= title
  p Welcome to #{title}, choose your image 
  
    form(action="/", method="post", enctype="multipart/form-data")
      input(type="file", name="displayImage")
      p Character resolution value: 
      select(id="subArraySize" name="subArraySize")
        option(value="4") 4
        option(value="6") 6
        option(value="8") 8
      input(type="submit", value="Submit")
  
  p Ascii art :
  p(style='white-space:pre; font-family:"Courier New"') #{ascii}
